/* ===== BASE ===== */
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');

/* ===== LAYOUT ===== */
@import url('./layout/header.css');
@import url('./layout/sections.css');
@import url('./layout/footer.css');

/* ===== COMPONENTS ===== */
@import url('./components/menu.css');
@import url('./components/hamburger.css');
@import url('./components/switchers.css');
