.hamburger {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--bg-dark);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
