@media (min-width: 768px) {

  .site-header {
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: rgba(2, 6, 23, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: var(--z-header);
  }

  .nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .nav_menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }

  .nav_menu li {
    cursor: pointer;
    color: var(--text-light);
  }

  /* Ocultamos hamburguesa */
  .hamburger {
    display: none !important;
  }
}

/* Mostrar menú móvil cuando tiene la clase active */
.nav_menu.active {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: absolute;
  right: 1rem;
  bottom: 3rem;
  background: var(--bg-dark);
  color: var(--text-light);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  z-index: var(--z-hamburger);
}